h1{
    color:green;
    text-align: center;
    text-transform: uppercase;
}
.cards{
    border:1px solid black;
    width: 240px;
    height: 336px;
    border-radius: 7%;
    margin: 5px;
    padding: 10px;
    display: inline-block;
}

.cards:hover{
    background-color: blueviolet;
}

.heart{ 
    color:red;
    font-size: xx-large;
}

.heart:after{ 
    content:"&hearts;";
    color:black;
    font-size: xx-large;
}

.diamond{ 
    color:black;
    font-size: xx-large;
}

.club{ 
    color:black;
    font-size: xx-large;
}

.spade{ 
    color:red;
    font-size: xx-large;
}