@font-face {
    font-family: "Righteous";
    src: url('font/Righteous-Regular.ttf') format('truetype');
}

body{
    background-color: rgb(12, 90, 12);
    margin:0;
    padding:0;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
  }

  .header{
    width: 100%;
    color:white;
    text-align: center;
    text-transform: uppercase;
    padding:10px;
    font-size: 32px;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
}
  
  .deck_player {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;

    width: 100%;
    margin-bottom: 15px;
  }

  .deck2 {
    flex-direction: row-reverse;
  }

.war {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    margin-bottom: 15px;
  }

  .background, .match{
    display: flex;
    position: absolute;
    z-index: 10;
  }

.card {
    width: 130px;
    height: 180px;
    border-radius: 7%;
    margin: 0 5px;
    padding: 10px;
    background-color: white;

    -webkit-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.75);

    position: relative;
}

.back {
    margin: 0 5px;
    padding: 5px;
    background-color: #f3bacb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b9001e' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    animation-timing-function: ease-in;
    /*animation: flyin 0.6s;*/
}

.back:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #e797af;
}

.inner {
    display: flex;
    position: relative;
    background-color:rgb(255 255 255 / 15%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    width: 130px;
    height: 180px;
    box-shadow: none;
}

/*.card-back::after {
    content: "";
    position: absolute;
    top:5px;
    background-color: #f3bacb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b9001e' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    -webkit-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.75);

    width: 130px;
    height: 180px;
    border-radius: 7%;
    padding: 5px;
    border: 2px solid rgb(234, 148, 176);
}*/
.board1 {
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

.board2 {
    display: flex;
    justify-content: flex-start;
    width: 55%;
}

.board4 {
    display: flex;
    justify-content: flex-end;
    width: 55%;
}

.board3 {
    display: flex;
    align-items: flex-end;
    width: 45%;
}

.player-board {
    position: absolute;
    width: 80px;
    border-radius: 7px;
    background-color: rgba(255,255,255,0.35);

    margin: 0 15px;
    padding: 10px;
    font-size: 15px;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
}

.box {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255,255,255,0.35);
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.box:last-child {
    margin-bottom: 0;
}

.ten, .nine, .eight, .seven, .six, .five, .four, .three, .two, .ace{ 
    display: grid; 
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 2px 2px;
    height: 100%;
    font-size: 36px;
}

.queen, .jack, .king {
    display: grid; 
    grid-template-columns: 0.5fr 1fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 5px 5px;
    height: 100%;
}

.corner {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.15fr 1.75fr; 
    gap: 0px 0px;
    text-align: center;
    font-size: 18px;
}

.suit {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 0px 0px;
    text-align: center;
}

.center {
    align-self: center;
    text-align: center;
}

.rotate{
    transform: scale(-1, -1);
}

.svg-car {
    width: 50px;
    height: 50px;
    font-size: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.heart{ 
    color:red;
    font-size: xx-large;
}

.heart:after{ 
    content:"&hearts;";
    color:black;
    font-size: xx-large;
}

.diamond{ 
    color:black;
    font-size: xx-large;
}

.club{ 
    color:black;
    font-size: xx-large;
}

.spade{ 
    color:red;
    font-size: xx-large;
}

@keyframes flyin {
    0%   { 
        transform: translateX(300%);
        opacity: 0;		
        }
        100% { 
        transform: translateX(0%);
        opacity: 1;
        }
}